ipv6 support?

```js
ParseError: Unexpected character ':' at index 60
    at parse (/Users/ronagy/GitHub/nxtedition/nxt/deepstream/node_modules/forwarded-parse/index.js:117:17)
    at new UwsSocketWrapper (/Users/ronagy/GitHub/nxtedition/nxt/deepstream/src/message/socket-wrapper.js:22:21)
    at open (/Users/ronagy/GitHub/nxtedition/nxt/deepstream/src/message/connection-endpoint.js:41:39) {
  input: 'by="[::1]:4430";for="[::1]:57096";proto=https;host=localhost:4430'
```

This fails. Not sure if it is a bug in the parser or an invalid forwarded header. Looks valid to me but I'm unsure.

It is invalid, see https://tools.ietf.org/html/rfc7239#section-4

```
Forwarded   = 1#forwarded-element

forwarded-element =
   [ forwarded-pair ] *( ";" [ forwarded-pair ] )

forwarded-pair = token "=" value
value          = token / quoted-string

token = <Defined in [RFC7230], Section 3.2.6>
quoted-string = <Defined in [RFC7230], Section 3.2.6>
```

`localhost:4430` is not a valid token, there is a delimiter character (`:`) in it. The `host` value should be wrapped in a quoted string (`"localhost:4430"`).



Thanks!