port support

I think having support for numerical node port would be quite useful, e.g. from https://tools.ietf.org/html/rfc7239#section-6:

```
1.2.3.4:12345
[::1]:12345
```

A trick to get v4 and v6 parsed (probably not too great perf): `url.parse('http://' + str)`.


The port can be obfuscated:

```
node     = nodename [ ":" node-port ]
nodename = IPv4address / "[" IPv6address "]" / "unknown" / obfnode

IPv4address = <Defined in [RFC3986], Section 3.2.2>
IPv6address = <Defined in [RFC3986], Section 3.2.2>
obfnode     = "_" 1*( ALPHA / DIGIT / "." / "_" / "-")

node-port     = port / obfport
port          = 1*5DIGIT
obfport       = "_" 1*(ALPHA / DIGIT / "." / "_" / "-")

DIGIT = <Defined in [RFC5234], Section 3.4>
ALPHA = <Defined in [RFC5234], Section B.1>
```

I think it's better to let the consumer of this lib handle these cases, for example using a sub-parser:

``` js
var net = require('net');

function parseNode(node) {
  var index = node.search(/:[^\]]+$/)
    , name = node
    , port = '';

  if (index !== -1) {
    name = node.slice(0, index);
    port = node.slice(index + 1);
  }

  if (name && name !== 'unknown' && !/^_[A-Za-z0-9._-]+$/.test(name)) {
    name = name.replace(/^\[/, '').replace(/\]$/, '');
    if (name && !net.isIP(name)) name = '';
  }

  if (!name || port && !/^[0-9]{1,5}|_[A-Za-z0-9._-]+$/.test(port)) {
    //
    // Either `name` or `port` is invalid.
    //
    return { name: '', port: '' };
  }

  return { name: name, port: port };
}
```


Yeah, I've read about the obfuscated port, but I guess it's a rather esoteric feature no one uses anyways.

Thanks for the code, but I have to disagree about the suggested sub-parser: the port is part of the standard and I'd expect a library that advertizes itself as a parser for said standard to be able to parse it.


> the port is part of the standard

Not really, there isn't a port parameter, the only official parameters are `by`, `for`, `host` and `proto`. The standard also allow extensions for additional parameters and values, and even if it is unlikely it is possible that those extensions include another port.
Adding the `for` port in the parsed result is not an option if you want the parser to be spec compliant imho.


Ah, then I've misinterpreted what this lib really does

> Parse the Forwarded header (RFC 7239) into an array of objects.

I guess in that context, it's correct to not parse parameters.


Yes, that's why I suggested a sub-parser for the identifiers. I could export a set of functions to validate and further parse those identifiers. For example `parseFor` could be the function posted above.


Would it be possible to not throw if `node` includes a port?

``` js
> require("forwarded-parse")("for=198.51.100.17:1234;by=203.0.113.60;proto=http;host=example.com")
// ParseError: Unexpected character ':' at index 17
```


> Note that as ":" and "[]" are not valid characters in "token", IPv6 addresses are written as "quoted-string".

It should be `"198.51.100.17:1234"`.


Ah, what a silly spec. That works of course, thanks.

I'll think about writing a parser that includes the port. I'm just not sure if it'll be worth it given that I'm not aware of any proxy that implements this spec yet.


> Ah, what a silly spec.

Yeah, it's unnecessarily complex and confusing. I recently asked a question on the mailing list of the working group where the document originated because according to the ABNF, `Forwarded: ;,,` is valid. See https://mailarchive.ietf.org/arch/search/?email_list=apps-discuss&gbt=1&index=8Y1Dv4g14z6lBsljwT3LO9C8KGc if you are interested.

The de facto standard  `x-forwarded-for` works fine and is a lot simpler :smile: 

I could parse the `for` identifiers further before returning the result to the consumer so one would get:

``` js
[{
  for: { ip: '198.51.100.17', port: 1234 }
}]
```

instead of 

``` js
[{ for: '198.51.100.17:1234' }]
```

and I guess this is what you want, but that would use the sub-parser internally.
Another option, probably silly, would be to use a wrapper module for this.


Makes one wonder why there's still no major implementations of that spec, 2 years after the rfc 😉.

Regarding my purpose: I currently use these functions which take any raw socket and return address and port with reverse proxies respected:

``` js
function ip(req) {
  return req.headers && req.headers["x-forwarded-for"] &&
      req.headers["x-forwarded-for"].split(",")[0].trim() ||
    req.headers && req.headers["x-real-ip"] ||
    req.upgradeReq && req.upgradeReq.connection && req.upgradeReq.connection.remoteAddress ||
    req.connection && req.connection.remoteAddress ||
    req.connection && req.connection.socket && req.connection.socket.remoteAddress ||
    req.remoteAddress && req.remoteAddress;
};

function port(req) {
  return req.headers && req.headers["x-real-port"] ||
    req.upgradeReq && req.upgradeReq.connection && req.upgradeReq.connection.remotePort ||
    req.connection && req.connection.remotePort ||
    req.connection && req.connection.socket && req.connection.socket.remotePort ||
    req.remotePort && req.remotePort;
};
```

Note that because `X-Forwarded-For` does not include the port, I'm using custom `X-Real-IP` and `X-Real-Port` headers, which I would like to replace with something more standard.

> I could parse the for identifiers further before returning the result

That would work, but I guess the effort would be for naught if there's no proxy that writes these headers. I couldn't even find a bug on nginx's tracker to implement said RFC. Looks like a dead standard unfortunately.
