parsing failure

parsing seems to fail on the following values:

```
host= mockbin.com, for=0.0.0.1, for=0.0.0.2, for=private, for=1::8, for=; port= 9000; proto=https; by=0.0.0.3
```

```
for=10.0.0.2,for,for=,for=10.0.0.1
```


Hi,
both of the inputs seems to be invalid. Here is an excerpt of the spec:

```
The header field value can be defined in ABNF syntax as:

       Forwarded   = 1#forwarded-element

       forwarded-element =
           [ forwarded-pair ] *( ";" [ forwarded-pair ] )

       forwarded-pair = token "=" value
       value          = token / quoted-string

       token = <Defined in [RFC7230], Section 3.2.6>
       quoted-string = <Defined in [RFC7230], Section 3.2.6>

   Examples:

       Forwarded: for="_gazonk"
       Forwarded: For="[2001:db8:cafe::17]:4711"
       Forwarded: for=192.0.2.60;proto=http;by=203.0.113.43
       Forwarded: for=192.0.2.43, for=198.51.100.17

   Note that as ":" and "[]" are not valid characters in "token", IPv6
   addresses are written as "quoted-string".
```

**Input 1:**

```
host= mockbin.com, for=0.0.0.1, for=0.0.0.2, for=private, for=1::8, for=; port= 9000; proto=https; by=0.0.0.3
     ^                                                         ^        ^
     |                                                         |        |
     |   +----------------------+    +---------------------+   |        |
     |   |Spaces are not allowed|    |Invalid character    |   |        |   +--------------------------+
     +---+in pairs unless they  |    |for token. It must   +---+        +---+Pair value can't be empty.|
         |are wrapped in quotes.|    |be wrapped in quotes.|                +--------------------------+
         +----------------------+    +---------------------+

```

**Input 2:**

```
for=10.0.0.2,for,for=,for=10.0.0.1
                ^    ^
                |    |
                |    |
                |    |
           +----+----+----+
           |No pair value.|
           +--------------+

```


thanks @lpinca 

I was hoping for something a little bit less strict in parsing... though you are correct those headers are technically invalid, but I have seen headers in the wild that were not exactly 100% to spec ...
